# Python Language

*Python* **Fundamentals**

## Variable Declaration

In [ ]:
#in case of C/c++ langauage - int i=10;
# implicit variable declaration in python  - varible_name = value
fee = 2000
print(fee)
print( 'data type of fee ' , type(fee) )
fee=2000.50
print(fee)
print( 'data type of fee ' , type(fee) )

2000
data type of fee  <class 'int'>
2000.5
data type of fee  <class 'float'>

In [ ]:
name = 'APJ Kalam saab'
print(name)
print(type(name))

# making fee a string variable
fee='2000.50'
print(fee)
print( 'data type of fee ' , type(fee) )

#eval is function for typecasting the datatype
fee = eval(fee)+ 100
print(fee)

#deleting the variable
del(fee)
print (fee)

APJ Kalam saab
<class 'str'>
2000.50
data type of fee  <class 'str'>
2100.5

NameError: ignored

In [ ]:
# accept number from user
n1 = input ('Enter a number :')
print(n1)
print(type(n1))
n1 = eval (n1)+10 
print(n1)

Enter a number :100
100
<class 'str'>
110

In [ ]:
# multiple statements in single line 
i=10; j=20 ; k=30
print(i,j,k)
#single statement in multiple line print(i,j,k)
# sign to continue the previous line is  \
print(i,\
      j,\
      k)

10 20 30
10 20 30

In [ ]:
c1 = (3 -+ 2i)
print(c1)

SyntaxError: ignored

In [ ]:
c1= complex(2,3)
c2 = complex(3,-1)
print(type(c1))
print(c1,c2)
print(c1+c2)

<class 'complex'>
(2+3j) (3-1j)
(5+2j)

## Memory Assignment

In [ ]:
a=10
b=a
c=10
#to print the memory location of a variable
# id is the method to print the address of variable 
print(a , "  address: ", id(a))
print(b , "  address: ", id(b))
print(c , "  address: ", id(c))
d=20
print(d , "  address: ", id(d))
c=11
print('after change in value of c')
print(a , "  address: ", id(a))
print(b , "  address: ", id(b))
print(c , "  address: ", id(c))
c=10
print(c , "  address: ", id(c))

10   address:  10914784
10   address:  10914784
10   address:  10914784
20   address:  10915104
after change in value of c
10   address:  10914784
10   address:  10914784
11   address:  10914816
10   address:  10914784

In [ ]:
print(a , "  address: ", id(a))
print(b , "  address: ", id(b))
print(c , "  address: ", id(c))
del c
print(a , "  address: ", id(a))
print(b , "  address: ", id(b))
#print(c , "  address: ", id(c))  memory released as 'del c' command executed
c=10
print(c , "  address: ", id(c))

10   address:  10914784
10   address:  10914784
10   address:  10914784
10   address:  10914784
10   address:  10914784
10   address:  10914784

## Operators

Python language supports the following types of operators.

* Arithmetic Operators ( +, - , /, ** , //,%,* )
* Comparison (Relational) Operators (== , != , >, < , <> , >= , <= )
* Assignment Operators (+=, -=, *= , **=, /=, //=, %=)
* Logical Operators ( and, or , not)  => return boolean value
* Bitwise Operators  ( & , | , ^ , >>, <<  , ~)
* Membership Operators (in , not in )
* Identity Operators ( is, not is)

### Arithmetic Operator

In [ ]:
a=10
b=20
c=a+b
print(a, "  ", b , " + " ,c)
c=b//3
print(a, "  ", b , " //3 " ,c)
c=b/3
print(a, "  ", b , " /3 " ,c)
c=b%3
print(a, "  ", b , " % " ,c)

10    20  +  30
10    20  //3  6
10    20  /3  6.666666666666667
10    20  %  2

In [ ]:
# assignment operators
a=10
a=a+20
print(a)
a+=20   #short cut notation or assignment operator
print(a)

30
50

In [ ]:
#Tuple assignment
a=10
b=20
c,d=10,20    #Tuple assignment
print(a,"  " ,b, "  " , c , "  ", d)
name, fee, age = 'Sita devi' , 2500.50 , 21
print ( name , "  " ,fee , "  " , age)

#using format to display the customized statements 
print( "I am {0}, having age {1} and paying fee of Rs.{2}/-  ".format(name, age,fee )  )

10    20    10    20
Sita devi    2500.5    21
I am Sita devi, having age 21 and paying fee of Rs.2500.5/-

### Decision making 
![image.png]()

In [ ]:
#python makes block of statement according to the indentation
''' in case of C/c++ lang. 
if (a>10){
  cout>> 'greater';
}else {
  cout>> 'less';
}
'''
a=9
if (a>10) :
  print('a is greater than 10  :', a)
  
else :
  print('a is less than 10 : ', a)

a is less than 10 :  9

In [ ]:
c = (a!=91)
print(c)

False

In [ ]:
a=10
b=a
if (a==b): print('same')

same

### Logical operator

In [ ]:
# logical operators in python and , or 
# in case of C/C++ language  && , || 
age =19; fee=3000
if (age<18) and (fee<5000) : 
  print ('eligible for scholarship')
else :
  print( 'not eligible')

not eligible

In [ ]:
age=0
if (not age) : print ('yess')
else : print('no')

no

In [ ]:
# if condition (age<18) and (fee<5000) is false then print ok
age=20 
if (age<18) and (fee<5000) : 
  pass
else :
  print( 'ok')

ok

In [ ]:
if not (  (age<18) and (fee<5000) ): 
  print( 'ok')

ok

### Bitwise Operators

* Binary Operator ( & , | , ^ , >>, <<  , ~)
* Bitwise operator on binary digits 
```
a b   &  |  ^
0 0   0  0  0
0 1   0  1  1
1 0   0  1  1
1 1   1  1  0
```

In [ ]:
a = 12   # 01100
b = 20   # 10100
#-----------------
        #| 11100
        #& 00100
        #^ 11000

print(a & b)
print(a | b)
print(a ^ b)

4
28
24

In [ ]:
#example 
data = 101
key = 57
cipher = data ^ key
print( "data :" , data , " key :" , key, " cipher:", cipher)
print("at destination ")
result = cipher ^ key
print( "result : ", result)

result = cipher ^ data
print( "result : ", result)

data : 101  key : 57  cipher: 92
at destination
result :  101
result :  57

In [ ]:
print( 10^ 5 )
print( (10^ 5) ^5 )
print( (10^ 5) ^10 )

15
10
5

In [ ]:
# ~ complement 
a =1          # 000001 =>  ~ => 111110
print(a)
print (~a)
b = 0       # 000 000 =>  ~ => 111 111
# 000 000   2's complement  => ( 111 111 +1 ) 

print(" b = ",b , "  ~b = ", ~b)

# to conclude - If MSB/sign bit is 1 its negative number and if its 0 then positive number 
# 000 000     1's complement  =>  111 111
# 111 111 it is negative number 
# negative numbers are represented in 2's complement notation 
# 111 111     2'compl ( 1's complement + 1 )  = 000 000 + 1 =>   000 001 and sign is negative 
# 1's complement 000 000  => -1

1
-2
 b =  0   ~b =  -1

In [ ]:
bin(0)

'0b0'

In [ ]:
a=10
for i in range(30):
  print(" a  = " ,a) ; a=a<<1

 a  =  10
 a  =  20
 a  =  40
 a  =  80
 a  =  160
 a  =  320
 a  =  640
 a  =  1280
 a  =  2560
 a  =  5120
 a  =  10240
 a  =  20480
 a  =  40960
 a  =  81920
 a  =  163840
 a  =  327680
 a  =  655360
 a  =  1310720
 a  =  2621440
 a  =  5242880
 a  =  10485760
 a  =  20971520
 a  =  41943040
 a  =  83886080
 a  =  167772160
 a  =  335544320
 a  =  671088640
 a  =  1342177280
 a  =  2684354560
 a  =  5368709120

In [ ]:
a=10
for i in range(6):
  print(" a  = " ,a) ; a=a>>1

 a  =  10
 a  =  5
 a  =  2
 a  =  1
 a  =  0
 a  =  0

### Ternary Operator

Ternary operators also known as conditional expressions are operators that evaluate something based on a condition being true or false. It was added to Python in version 2.5.
It simply allows to test a condition in a single line replacing the multiline if-else making the code compact.
```
Syntax :

[on_true] if [expression] else [on_false] 
```

##### first Option

In [ ]:
'''
In case of C/C++ lang
if (a >b ){c=a; }
else { c=b; }

c=( a>b ? a :b ) ;
'''
a=10;b=20; 
res  =( a if (a>b) else b)
print(res)

20

In [ ]:
#tuple assignment
a,b,c =100,200,30
if (a>b):
  if (a>c) :res = a
  else : res=c
else : 
  if (b>c) : res =b
  else :res=c
print( res)

200

In [ ]:
# greatest among three
a,b,c = 100,20,30

res=   ((  a if (a>c) else c    )if(a>b) else (   b if (b>c) else  c  ) )
print(res )

100

##### second option

In [ ]:
a,b=100,20
print( a if (a>b) else b)

100

##### third option

In [ ]:
# using tuple
# ( false_value , true_value) [condition] 
a,b=200,100
res = (b,a) [a>b]
print(res)

200

##### fourth option

In [ ]:
# using dictionary
# { false : value , true: value } [condition]  
a,b=200,30
{ False:b, True:a }[a>b]

200

## looping construct

In [ ]:
#while loop is same as in C/C++
#three important things in while loop
# 1. Declaration   e.g. cnt=1
# 2. compare   condition to exit  e.g. cnt<=10 
# 3. increment/decrement conditional variable e.g.  cnt+=1 
cnt=1
while(cnt <= 10):
  print( " 5 * {0} = {1}".format(cnt,5*cnt)  )

  cnt+=1

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [ ]:
cnt=1
while( (cnt) <= 10):
  print( " 5 * {0} = {1}".format(cnt,5*cnt)  )
  cnt+=1
else : 
  print('in else')

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50
in else

In [ ]:
x=range(5)
print(x)
print( type(x))

range(0, 5)
<class 'range'>

In [ ]:
# for loop 
# for {variable}  in {terminating contd}
for cnt in range(5) : 
  print( " 5 * {0} = {1}".format(cnt,5*cnt)  )

 5 * 0 = 0
 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20

In [ ]:
#range (start, stop[, step]) 
#range( 5)  # 5 is termed as stop then 0 is default start

for cnt in range(1,11) : 
  print( " 5 * {0} = {1}".format(cnt,5*cnt)  )

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [ ]:
# print first 20 odd numbers 
for x in range (1,40, 2):
  print(x ,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39

In [ ]:
for x in range (40,2 , -4) :
  print(x, end =" ")

40 36 32 28 24 20 16 12 8 4

In [ ]:
arr = [10,20,30]
print(arr)
print(type(arr))

[10, 20, 30]
<class 'list'>

In [ ]:
for i in arr:
  print(i)

10
20
30

In [ ]:
names = ['sakshi','rajat','sandeep','nimes','rahul','mandeep']
for i in names: 
  print(i)

sakshi
rajat
sandeep
nimes
rahul
mandeep

In [ ]:
print(names)
print(len(names))

['sakshi', 'rajat', 'sandeep', 'nimes', 'rahul', 'mandeep']
6

In [ ]:
for i in range(len(names) ) : 
  print(i , names[i])

0 sakshi
1 rajat
2 sandeep
3 nimes
4 rahul
5 mandeep

In [ ]:
for i in 'India is great' : 
  if i =='a': continue
  print(i , end =" ")

I n d i   i s   g r e t

In [ ]:
for i in 'India is great' : 
  if i ==' ': break
  print(i , end =" ")

I n d i a

1. Write program to check whether given number is
prime or not
2. Write a program to find those numbers which are
divisible by 7 and multiple of 5, between 1500 and
2700 (both included).
3. Write a Python program to get the Fibonacci series
between 0 to 50.
4. Write a program to construct the pattern, using a
nested for loop.


```
*
* *
* * *
* *
*

   *
  * * 
 * * *
* * * *
 * * * 
  * *
   *

    1
  1 2 1
1 2 3 2 1
  1 2 1
    1
```
5. write a program to reverse the digits of given number( given 345, ouput 543 )
6. write python code to convert given binary number to decimal equvalent ( given  1101, ouput-13)