In [ ]:
#python is case sensitive language
name = 'APJ kalam '
age = 28.5
print(age)
print(name)
print(name, age)
#formatting
print("name :" , name , "  Age : " , age )
print(" {0} is {1} year old and {0} was president of India ".format(name, age))

28.5
APJ kalam
APJ kalam  28.5
name : APJ kalam    Age :  28.5
 APJ kalam  is 28.5 year old and APJ kalam  was president of India

In [ ]:
# to check datatype of a variable 
print(type (name))
print(type (age))

<class 'str'>
<class 'float'>

In [ ]:
# to accept data from user - input function which return an string
x= eval(input ("Enter number : "))
print(x)
print(type(x))
print(x+1)

Enter number : 10
10
<class 'int'>
11

In [ ]:
#del method deletes variable and clears memory
print(age)
del age
print(age)

28.5

NameError: ignored

In [ ]:
# swapping two number 
a=10 
b=20
print("a: {0} , b: {1} ".format(a,b))
a,b=b,a
print("a: {0} , b: {1} ".format(a,b))

a: 10 , b: 20
a: 20 , b: 10

## Excercise

check the given number is prime

In [ ]:
n = 9
# prime no def : numbe is divisible by self or 1, its prime 
######### Logic to check n1 is prime or not  ########
cnt = 2 
a=1
while (cnt< n) :
  if (n%cnt == 0):
    print( n, ' is not prime')
    a=0
    break
  cnt=cnt+1 

if a==1 : print( n, ' is  prime')
##############

9  is not prime

In [ ]:
# implementing above code with for loop 
n=15
a=1 

for cnt in range(2,n):
  if (n%cnt == 0):
    print( n, ' is not prime')
    a=0
    break

if a==1 : print( n, ' is  prime')

15  is not prime

Show the sum of digits of given number

In [ ]:
# n = 231
# ouput = 6

In [ ]:
n=876531
#a,b,c => a=2, b=3, c=1
 
print( n %10)
print( (n//10) %10)
print (((n//10)//10)  %10  )
print ((((n//10)//10)//10)  %10  )

1
3
5
6

In [ ]:
n=9834
i=1
while i<8 :
  #print(n) 
  print (n%10)
  n = n//10
  i=i+1

4
3
8
9
0
0
0

In [ ]:
# code without i variable 

n=19234
sum = 0
while n>0 :
  #print (n%10)
  sum = sum +(n%10)
  n = n//10
print (sum)

19

```
*
* *
* * *
* *
*

   *
  * *
 * * * 
  * *
   *

    1
  1 2 1
1 2 3 2 1
  1 2 1
    1
```

In [ ]:

for row in range(1,4) : 
  #print (row)
  for i in range(row) : 
    print('*' ,end=" ")
  print(" ")

*
* *
* * *

```
b b b *
b b *  *
b *  *  *
```

In [ ]:
lines =8
for row in range(1,lines) : 
  #print (row)
  for s in range(lines-row):
    print(" " , end="")
  for i in range(row) : 
    print('*' ,end=" ")
  print(" ")

       *
      * *
     * * *
    * * * *
   * * * * *
  * * * * * *
 * * * * * * *

In [ ]:
lines =7
for row in range(1,lines) : 
  #print (row)
  for s in range(lines-row):
    print(" " , end="")
  for i in range(row) : 
    print('*' ,end=" ")
  print(" ")
# reverse pyramid
for row in range( lines-2 , 0 , -1) : 
  #print(row)
  for s in range(lines-row):
    print(" " , end="")
  for i in range(row) : 
    print('*' ,end=" ")
  print(" ")

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [ ]:
lines =7
for row in range(1,lines) : 
  #print (row)
  for s in range(lines-row):
    print("  " , end="")
  for i in range(1,row) : 
    print(i ,end=" ")
  for i in range(row,0, -1) : 
    print(i ,end=" ")
  print(" ")

            1
          1 2 1
        1 2 3 2 1
      1 2 3 4 3 2 1
    1 2 3 4 5 4 3 2 1
  1 2 3 4 5 6 5 4 3 2 1

In [ ]:
# decimal to binary
num = 35
r=0
for i in range (0 , 8):
  binary = num % 2
  num = num // 2
  r=r*10+binary
  #print (binary , end="")
print(r)
#reverse the value in r
while(r>0):
  a=r%10
  print(a , end="")
  r=r//10

11000100
00100011

In [ ]:
bin(35)

'0b100011'

In [ ]:
print("{0:b}".format(35))
a=35
print("{0:b} has deciaml equi. {0}".format(a))

100011
100011 has deciaml equi. 35

In [ ]:
int(bin(35)[2:])

100011

In [ ]:
# formatting output
a=10 ; b=20
print("a = ", a,"  b= ", b," and value of a = ", a)
print (" a ={0} , b= {1} and the value of a is {0}".format(a,b))

a =  10   b=  20  and value of a =  10
 a =10 , b= 20 and the value of a is 10

In [ ]:
# sakshi
num = 7654
for i in range (0, 8):
  rev = num % 10
  num = num // 10
  print (rev , end = '')

45670000

In [ ]:
#kaushal
n=2345789
rev=0
while(n>0):
  a=n%10
  rev=rev*10+a
  n=n//10
print(rev)

9875432

In [ ]:
#manpreet 
n=2345789
while(n>0):
  a=n%10
  print(a , end="")
  n=n//10

9875432

In [ ]:
# rajat
n = 4562; 
rev = 0 

while(n > 0): 
    a = n % 10 
    rev = rev * 10 + a 
    n = n // 10 
print(rev)

2654

In [ ]:
a=input("enter a binary number:")
decimal=int(a,2)
print("the decimal value is :",decimal)

enter a binary number:1101
the decimal value is : 13

In [ ]:
int i =10; 
while(i>0){ i++ ; }
print("%d", i )